{% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1 mb-responsive">
        <div class="bg-light">
            <a href="{% url 'product:detail' product.title %}" class="div-d-flex product-item">
                <div class="product-img position-relative overflow-hidden mr-2">
                    <img class="img-fluid w-100 product-img-height"
                        src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                        alt="">
                </div>
                <div class="py-3 product-text-mobile">
                    <p class="h6 two-lines mr-2 ml-2 product-list-title">{{ product.title|truncatewords:14 }}</p>
                    
                    {% with product.quantity as count %}
                        {% if count == 0 or not product.is_available %}
                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                <i class="fas fa-times-circle text-danger product-status"></i>
                                ناموجود
                            </p>
                        {% elif count < 6 %}
                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                <i class="fas fa-check-circle text-success product-status"></i>
                                فقط {{ product.quantity_fa }} عدد موجود است
                            </p>
                        {% else %}
                            <p class="h6 extra-text mr-2 ml-2">
                                <i class="fas fa-check-circle text-success product-status"></i>
                                موجود در انبار
                            </p>
                        {% endif %}
                    {% endwith %}

                    <div class="d-flex custom-text-small-size">
                        {% if product.discount != 0 %}
                        <h6 class="text-muted price-before-discount">
                            <del>{{ product.format_price_fa }}</del>
                        </h6>
                        {% endif %}
                        <h6 class="ml-2 price-go-left real-price">
                            {{ product.price_after_discount_fa }}
                            <small class="text-small-size">تومان</small>
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endfor %}