@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel.eot');
    src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sahel/Sahel.woff2') format('woff2'),
         url('../fonts/sahel/Sahel.woff') format('woff'),
         url('../fonts/sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
  }
  

*{
font-family: "Sahel";
}



body {
  direction: rtl;
  text-align: right;
}

.product-img-height {
  height: 280px;
}

.text-small-size {
  font-size: 0.6em;
}

.short-input {
  width: 300px;
}