@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel.eot');
    src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sahel/Sahel.woff2') format('woff2'),
         url('../fonts/sahel/Sahel.woff') format('woff'),
         url('../fonts/sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
  }
  

*{
font-family: "Sahel";
}



body {
  direction: rtl;
  text-align: right;
}

a {
  color: #6C757D;
}

a:hover {
  text-decoration: none;
}

.num-paginate {
  color: #6C757D;
}

.num-paginate-hover:hover {
  color: #6C757D;
}

.my-rtl-styles {
  direction: rtl;
  text-align: right;
}

.product-img-height {
  height: 280px;
}

.text-small-size {
  font-size: 0.6em;
}

.short-input {
  width: 300px;
}

@media (min-width: 992px) {
  .mobile-only {
      display: none !important;
  }
  .price-before-discount {
    margin-right: 30px;
  }
  .mb-responsive {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .pc-only {
      display: none !important;
  }
  .price-before-discount {
    margin-right: 10px;
  }
}




@media (max-width: 767.98px) {
  .product-img {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-top: 10%;
  }
  .product-img img {
      position: absolute;
      width: 100%;
      height: 100%;
  }
  .div-d-flex {
    display: flex;
  }
  .product-item {
    height: 200px;
  }
  .product-text-mobile {
    width: 70%;
    margin-top: 40px;
  }
  .product-text-mobile p {
    font-size: 12px;
  }
  .custom-text-small-size {
    margin-top: 35px
  }
}




/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #FFD333;
}
.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input {
  width: 100%;
  margin-left: 8px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.separator {
  margin-left: 10px;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #FFD333;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #FFD333;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #FFD333;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}
.b-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.b-btn.paypal i {
  color: blue;
}
.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}
.b-btn i {
  font-size: 20px;
  color: yellow;
  margin-top: 2rem;
}






/* style for product types */
.mb-4 {
  margin-bottom: 1rem;
}

.mb-4 label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#dog-names {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: auto;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg width='12px' height='12px' viewBox='0 0 12 12'><polyline points='1 6 6 11 11 6' stroke='%23ccc' stroke-width='1.5' stroke-linecap='round' /></svg>"); /* اضافه کردن آیکن */
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 12px;
}

#dog-names option {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#dog-names option:selected {
    background-color: #f0f0f0;
}

#dog-names option:hover {
    background-color: #ddd;
}






#navbar-vertical {
  display: none;
}
.btn:hover + #navbar-vertical,
#navbar-vertical:hover {
  display: block;
}





/* messages styles */
/* .alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgb(6, 165, 6);
  color: white;
  border-radius: 5px;
  z-index: 9999;
  height: auto;
  font-size: 30px;
} */



.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex h5.custom-price {
  order: 2; /* تگ h5 به سمت راست */
  margin-right: auto; /* تگ h5 همواره به سمت چپ */
  font-size: 16px;
}


.two-lines {
  height: 5em; /* برای دقیق‌تر بودن، می‌توانید این مقدار را تنظیم کنید */
  overflow: hidden;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 0;
}


.extra-text {
  font-size: 12px;
}


.custom-text-small-size {
  font-size: 17px;
}

.product-detail-title {
  font-size: 20px;
}




