{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5">
                <div id="product-carousel" class="carousel slide">
                    <div class="carousel-inner bg-light">
                        {% for image in images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="w-100 h-100" src="{{ image.image.url }}" alt="Image">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3 class="product-detail-title mb-5">{{ product.title }}</h3>
                    <h3 class="font-weight-semi-bold">{{ product.price_after_discount_fa }} <small>تومان</small></h3>
                    {% if product.discount != 0 %}
                        <h6 class="text-muted ml-2 mb-4">
                            <del class="text-danger">{{ product.format_price_fa }} تومان</del>
                        </h6>
                    {% endif %}
                    
                    <p class="mb-4">{{ product.introduction }}</p>


                    {% if types %}
                        <div class="mb-4">
                            <label for="dog-names">نوع محصول: </label>
                            <select name="dog-names" id="dog-names">
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div id="add-to-cart-view" class="hidden">
                        
                    </div>


                    <script>

                        // for when the page is loaded
                        $(window).on('load', function() {
                            var csrftoken = getCookie('csrftoken');
                            var selectedType = $('#dog-names').val();
                            var countInCart = 0; // تنظیم متغیر countInCart به صفر به طور پیش‌فرض

                            $.ajax({
                                url: '{% url "account:add-to-cart" %}',
                                type: 'POST',
                                data: {
                                    'selected_type': selectedType
                                },
                                headers: {
                                    'X-CSRFToken': csrftoken
                                },
                                success: function(response) {
                                    // بررسی مقدار count_in_cart
                                    countInCart = response.count_in_cart;
                                    updateAddToCartButton(countInCart);
                                },
                                error: function(xhr, errmsg, err) {
                                    console.log(xhr.status + ": " + xhr.responseText);
                                }
                            });

                            function updateAddToCartButton(countInCart) {
                                if (countInCart === 0) {
                                    $('#add-to-cart-view').html('<button id="add-to-cart-btn" class="btn btn-primary btn-block">افزودن به سبد خرید</button>');
                                } else {
                                    // استفاده از ورودی‌های number به جای دکمه‌ها
                                    $('#add-to-cart-view').html('<div class="d-flex flex-column align-items-center pt-2"><div class="input-group quantity ml-3" style="width: 130px;"><div class="input-group-btn"><button class="btn btn-primary btn-plus"><i class="fa fa-plus"></i></button></div><input type="number" class="form-control bg-secondary border-0 text-center" value="' + countInCart + '" disabled><div class="input-group-btn"><button class="btn btn-primary btn-minus"><i class="fa fa-minus"></i></button></div></div></div>');
                                }
                            }

                            // تابع برای دریافت توکن CSRF از cookie
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // دریافت توکن CSRF از cookie
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                        });



                        // for change type by user
                        $(document).ready(function() {
                            $('#dog-names').change(function() {
                                var selectedType = $(this).val();
                                var csrftoken = getCookie('csrftoken');
                                var countInCart = 0; // تنظیم متغیر countInCart به صفر به طور پیش‌فرض
                                
                                $.ajax({
                                    url: '{% url "account:add-to-cart" %}',
                                    type: 'POST',
                                    data: {
                                        'selected_type': selectedType
                                    },
                                    headers: {
                                        'X-CSRFToken': csrftoken
                                    },
                                    success: function(response) {
                                        // بررسی مقدار count_in_cart
                                        countInCart = response.count_in_cart;
                                        updateAddToCartButton(countInCart);
                                    },
                                    error: function(xhr, errmsg, err) {
                                        console.log(xhr.status + ": " + xhr.responseText);
                                    }
                                });
                            });
                    
                            function updateAddToCartButton(countInCart) {
                                if (countInCart === 0) {
                                    $('#add-to-cart-view').html('<button id="add-to-cart-btn" class="btn btn-primary btn-block">افزودن به سبد خرید</button>');
                                } else {
                                    // استفاده از ورودی‌های number به جای دکمه‌ها
                                    $('#add-to-cart-view').html('<div class="d-flex flex-column align-items-center pt-2"><div class="input-group quantity ml-3" style="width: 130px;"><div class="input-group-btn"><button class="btn btn-primary btn-plus"><i class="fa fa-plus"></i></button></div><input type="number" class="form-control bg-secondary border-0 text-center" value="' + countInCart + '" disabled><div class="input-group-btn"><button class="btn btn-primary btn-minus"><i class="fa fa-minus"></i></button></div></div></div>');
                                }
                            }
                    
                            // تابع برای دریافت توکن CSRF از cookie
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // دریافت توکن CSRF از cookie
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                        });
                    </script>
                    
                    
                

                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">معرفی</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">مشخصات</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">دیدگاه ها</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                      </ul> 
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                      </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">۱ دیدگاه برای این محصول</h4>
                                    <div class="media mb-4">
                                        <img src="" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">ثبت دیدگاه</h4>
                                    <small>فیلدهای ضروری با علامت * مشخص شده اند</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">امتیاز دهید * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="name">نام شما *</label>
                                            <input type="text" class="form-control short-input" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message">دیدگاه شما *</label>
                                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="ثبت دیدگاه" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


<!-- Products Start -->


    <!-- Products Start -->
{% if suggestion_products %}
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">محصولات پیشنهادی</span></h2>
        <div class="row px-xl-5">
            {% for s_p in suggestion_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1 mb-responsive">
                    <div class="bg-light">
                        <a href="{% url 'product:detail' s_p.title %}" class="div-d-flex product-item">
                            <div class="product-img position-relative overflow-hidden mr-2">
                                <img class="img-fluid w-100 product-img-height"
                                    src="{% if s_p.cover %}{{ s_p.cover.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                                    alt="">
                            </div>
                            <div class="py-3 product-text-mobile">
                                <p class="h6 two-lines mr-2 ml-2 product-list-title">{{ s_p.title|truncatewords:14 }}</p>
                                
                                {% with s_p.quantity as count %}
                                    {% if count == 0 %}
                                        <p class="h6 extra-text mr-2 ml-2 text-muted">در انبار موجود نیست</p>
                                    {% elif count < 6 %}
                                    <p class="h6 extra-text mr-2 ml-2 text-danger">فقط {{ s_p.quantity_fa }} عدد در انبار موجود است</p>
                                    {% else %}
                                        <p class="h6 extra-text mr-2 ml-2">موجود در انبار</p>
                                    {% endif %}
                                {% endwith %}

                                <div class="d-flex custom-text-small-size">
                                    {% if s_p.discount != 0 %}
                                    <h6 class="text-muted price-before-discount">
                                        <del class="text-danger">{{ s_p.format_price_fa }}</del>
                                    </h6>
                                    {% endif %}
                                    <h6 class="ml-2 price-go-left real-price">
                                        {{ s_p.price_after_discount_fa }}
                                        <small class="text-small-size">تومان</small>
                                    </h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% endblock content %}