{% extends 'base.html' %}
{% load static %}


{% block content %}


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4 pc-only-2">
                
                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">ترتیب</span></h5>
                <div class="bg-light p-4">
                    {% with request.GET.sort as sort %}
                        <a class="dropdown-item-on-pc {% if sort == '6' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 6)">پرفروش ترین</a>
                        <a class="dropdown-item-on-pc {% if sort == '5' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 5)">محصولات موجود</a>
                        <a class="dropdown-item-on-pc {% if sort == '1' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 1)">ارزان ترین</a>
                        <a class="dropdown-item-on-pc {% if sort == '2' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 2)">گران ترین</a>
                        <a class="dropdown-item-on-pc {% if sort == '3' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 3)">جدید ترین</a>
                        <a class="dropdown-item-on-pc {% if sort == '4' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 4)">قدیمی ترین</a>
                    {% endwith %}
                </div>
                <!-- Color End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1 fixed-section mb-2">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="ml-2 horizontal-scroll mobile-filter">
                                <div class="btn-group">
                                    {% with request.GET.sort as sort %}
                                        <a class="dropdown-item ml-2">ترتیب: </a>
                                        <a class="dropdown-item {% if sort == '6' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 6)">پرفروش ترین</a>
                                        <a class="dropdown-item {% if sort == '5' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 5)">محصولات موجود</a>
                                        <a class="dropdown-item {% if sort == '1' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 1)">ارزان ترین</a>
                                        <a class="dropdown-item {% if sort == '2' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 2)">گران ترین</a>
                                        <a class="dropdown-item {% if sort == '3' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 3)">جدید ترین</a>
                                        <a class="dropdown-item {% if sort == '4' %} active-filter {% endif %}" href="" onclick="addQueryParam(event, 'sort', 4)">قدیمی ترین</a>
                                    {% endwith %}
                                </div>
                                <!-- <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                        {% if request.GET.size == '9' %}
                                            ۹ تایی
                                        {% elif request.GET.size == '12' %}
                                            ۱۲ تایی
                                        {% elif request.GET.size == '15' %}
                                            ۱۵ تایی
                                        {% else %}
                                            نمایش 
                                        {% endif %}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" style="background-color: aliceblue;" href="#" onclick="removeQueryParam(event, 'size')">پیش فرض</a>
                                        <a class="dropdown-item" href="#" onclick="addQueryParam(event, 'size', 9)">۹ تایی</a>
                                        <a class="dropdown-item" href="#" onclick="addQueryParam(event, 'size', 12)">۱۲ تایی</a>
                                        <a class="dropdown-item" href="#" onclick="addQueryParam(event, 'size', 15)">۱۵ تایی</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 col-sm-6 pb-1 mb-responsive">
                        <div class="bg-light">
                            <a href="{% url 'product:detail' product.title %}" class="div-d-flex product-item">
                                <div class="product-img position-relative overflow-hidden mr-2">
                                    <img class="img-fluid w-100 product-img-height"
                                         src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                                         alt="">
                                </div>
                                <div class="py-3 product-text-mobile">
                                    <p class="h6 two-lines mr-2 ml-2 product-list-title">{{ product.title|truncatewords:14 }}</p>
                                    
                                    {% with product.quantity as count %}
                                        {% if count == 0 or not product.is_available %}
                                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                                <i class="fas fa-times-circle text-danger product-status"></i>
                                                ناموجود
                                            </p>
                                        {% elif count < 6 %}
                                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                                <i class="fas fa-check-circle text-success product-status"></i>
                                                فقط {{ product.quantity_fa }} عدد موجود است
                                            </p>
                                        {% else %}
                                            <p class="h6 extra-text mr-2 ml-2">
                                                <i class="fas fa-check-circle text-success product-status"></i>
                                                موجود در انبار
                                            </p>
                                        {% endif %}
                                    {% endwith %}

                                    <div class="d-flex custom-text-small-size">
                                        {% if product.discount != 0 %}
                                        <h6 class="text-muted price-before-discount">
                                            <del>{{ product.format_price_fa }}</del>
                                        </h6>
                                        {% endif %}
                                        <h6 class="ml-2 price-go-left real-price">
                                            {{ product.price_after_discount_fa }}
                                            <small class="text-small-size">تومان</small>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                        <div class="text-center mt-5" style="width: 150%;">
                            <h2 class="mb-4 pr-3 pl-3">متاسفانه محصولی با این نام پیدا نشد</h2>
                            <p class="mb-5 pr-4 pl-4">ممکن است نام اشتباهی جستجو کرده باشید . یا محصول در سایت موجود نباشد</p>
                            <a href="{% url 'product:list' %}">کل محصولات</a>
                        </div>
                    {% endfor %}
                    

                    {% if page_obj and paginator.num_pages > 1 %}
                        <div class="col-12 mt-5">
                            <nav>
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link num-paginate" href="" onclick="addQueryParam(event, 'page', {{ page_obj.previous_page_number }})">قبل</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><p class="page-link num-paginate num-paginate-hover">قبل</p></li>
                                {% endif %}


                                {% if not request.GET.page %}
                                    {% for num in paginator.page_range %}
                                        <li class="page-item">
                                            <a class="page-link {% if num|slugify != '1' %} num-paginate {% endif %}"
                                            href="" onclick="addQueryParam(event, 'page', {{ num }})">
                                            {{ num }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for num in paginator.page_range %}
                                        <li class="page-item">
                                            <a class="page-link {% if request.GET.page|slugify != num|slugify %} num-paginate {% endif %}"
                                            href="" onclick="addQueryParam(event, 'page', {{ num }})">
                                            {{ num }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}


                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link num-paginate" href="" onclick="addQueryParam(event, 'page', {{ page_obj.next_page_number }})">بعد</a></li>
                                    
                                {% else %}
                                    <li class="page-item"><p class="page-link num-paginate num-paginate-hover">بعد</p></li>
                                {% endif %}
                            </ul>
                            </nav>
                        </div>
                    {% endif %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <script>
        // adding query params
        function addQueryParam(event, key, value) {
            event.preventDefault();
            
            const url = new URL(window.location.href);
            const searchParams = new URLSearchParams(url.search);
            searchParams.delete(key);
            searchParams.append(key, value);
            url.search = searchParams.toString();
            window.location.href = url.toString();
        }


        // removing query params
        function removeQueryParam(event, key) {
            event.preventDefault();
            const url = new URL(window.location.href);
            url.searchParams.delete(key);
            window.location.href = url.toString();
        }
    </script>

{% endblock content %}