{% extends 'base.html' %}
{% load static %}


{% block content %}


    <!-- Cart Start -->

    <h2 class="mb-5" style="text-align: center;">سبد خرید شما</h2>

    <div class="col-lg-9 col-md-8">
        <div class="row pb-3">
            
            {% for order in orders %}
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1 mb-responsive">
                    <div class="bg-light">
                        <a href="{% url 'product:detail' order.product_size_color.product.title %}?type_id={{ order.product_size_color.id }}" class="div-d-flex product-item">
                            <div class="product-img position-relative overflow-hidden mr-2">
                                <img class="img-fluid product-img-height"
                                        src="{% if order.product_size_color.product.cover %}{{ order.product_size_color.product.cover.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                                        alt="">
                            </div>
                            <div class="py-3 product-text-mobile">
                                <p class="h6 mr-3 ml-2 product-list-title">{{ order.product_size_color.product.title|truncatewords:14 }}</p>

                                <p class="h6 extra-text mr-3 ml-2" style="font-size: 15px; display: inline-block;">
                                    <i class="fas fa-shopping-cart"></i>
                                    {{ order.quantity }}
                                </p>

                                {% with order.product_size_color.color as color %}
                                    {% if color %}
                                        <p class="h6 extra-text mr-3 ml-2" style="font-size: 15px; display: inline-block;">
                                            {% if color.color_code == '#FFFFFF' %}
                                                <span class="custom-circle">&#9673;</span>
                                            {% else %}
                                                <span style='font-size:20px; color: {{ color.color_code }};'>&#9673;</span>
                                            {% endif %}
                                            
                                            {{ color.color }}
                                        </p>
                                    {% endif %}
                                {% endwith %}
                                
                                {% with order.product_size_color.size as size %}
                                    {% if size %}
                                        <p class="h6 extra-text mr-3 ml-2" style="font-size: 15px; display: inline-block;">
                                            <span style='font-size:25px;'>&#8597;</span>
                                            سایز {{ size.size }}
                                        </p>
                                    {% endif %}
                                {% endwith %}
                                
                                {% with order.product_size_color.product.quantity as count %}
                                    {% with order.product_size_color.product as order_product %}
                                        {% if count == 0 or not order_product.is_available %}
                                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                                <i class="fas fa-times-circle text-danger product-status"></i>
                                                ناموجود
                                            </p>
                                        {% elif count < 6 %}
                                            <p class="h6 extra-text mr-2 ml-2 text-muted">
                                                <i class="fas fa-check-circle text-success product-status"></i>
                                                فقط {{ order_product.quantity_fa }} عدد موجود است
                                            </p>
                                        {% else %}
                                            <p class="h6 extra-text mr-2 ml-2" style="visibility: hidden;">
                                                موجود در انبار
                                            </p>
                                        {% endif %}

                                        <div class="d-flex custom-text-small-size">
                                            {% if order_product.discount != 0 %}
                                                <h6 class="text-muted price-before-discount">
                                                    <del class="text-danger">{{ order_product.format_price_fa }}</del>
                                                </h6>
                                            {% endif %}
                                            <h6 class="ml-2 price-go-left real-price">
                                                {{ order_product.price_after_discount_fa }}
                                                <small class="text-small-size">تومان</small>
                                            </h6>
                                        </div>

                                    {% endwith %}
                                {% endwith %}
                            </div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="text-center mt-5" style="width: 150%;">
                    <h2 class="mb-4 pr-3 pl-3">سبد خرید شما خالیست</h2>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'product:list' %}" style="background-color: #FFD333; color: black;">
                        بریم واسه خرید
                    </a>
                </div>
            {% endfor %}
            

        </div>
    </div>
    <!-- Cart End -->



    <div class="col-lg-4">
        <!-- <form class="mb-30" action="">
            <div class="input-group">
                <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                <div class="input-group-append">
                    <button class="btn btn-primary">Apply Coupon</button>
                </div>
            </div>
        </form> -->
        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">نمای کلی</span></h5>
        <div class="bg-light p-30 mb-5">
            <div class="border-bottom pb-2">
                <div class="d-flex justify-content-between mb-3">
                    <h6>تعداد کالا</h6>
                    <h6>{{ cart_products_count }}</h6>
                </div>
                <div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">هزینه ارسال</h6>
                    <h6 class="font-weight-medium">صفر</h6>
                </div>
            </div>
            <div class="pt-2">
                <div class="d-flex justify-content-between mt-2">
                    <h5>قیمت کل <small>(تومان)</small></h5>
                    <h5>{{ cart.total_price_fa }}</h5>
                </div>
                <a href="{% url 'account:checkout' %}">
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">تکمیل سفارش</button>
                </a>
            </div>
        </div>
    </div>
    <!-- Cart End -->


{% endblock content %}