{% extends 'base.html' %}



{% block content %}

<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">

        <form id="checkout-form" method="POST">
            {% csrf_token %}
            
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">آدرس تحویل کالا</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>نام دریافت کننده <span style="color: red;">*</span></label>
                            <input class="form-control" name="recipient_name" type="text" value="{{ information.recipient_name }}" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>شماره تلفن <span style="color: red;">*</span></label>
                            <input class="form-control" name="phone" type="number" value="{{ information.phone_number }}" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>شهرستان <span style="color: red;">*</span></label>
                            <select class="custom-select" name="city" required>
                                <option selected>گرمه</option>
                                <option>جاجرم</option>
                                <option>ایور</option>
                                <option>درق</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>آدرس و پلاک <span style="color: red;">*</span></label>
                            <input class="form-control" name="address" type="text" value="{{ information.address }}" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>کد پستی</label>
                            <input class="form-control" name="postal_code" type="number" value="{{ information.postal_code }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>توضیحات سفارش</label>
                            <textarea class="form-control" name="description" id="" cols="30" rows="6"></textarea>
                        </div>
                        <div class="col-md-4 form-group">
                            
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3">تایید و انتقال به درگاه پرداخت</button>
                </div>
            </div>

        </form>



        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">نمای کلی</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">کالاها</h6>
                    {% for order in orders %}
                        <div class="d-flex justify-content-between">
                            <p title="{{ order.product_size_color.product.title }}">{{ order.product_size_color.product.title|truncatewords:5 }}</p>
                            <p>{{ order.total_price_fa }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>مجموع</h5>
                        <h5>{{ cart.total_price_fa }}</h5>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Checkout End -->


{% endblock content %}