{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/my-style.css' %}" rel="stylesheet">
	<link href="{% static 'authentication/style.css' %}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
	
	<form id="login-form" class="custom-login-form">
		<div class="imgcontainer">
			<a href="{% url 'product:home' %}">
				<img src="{% static 'img/tpkala.png' %}" alt="" style="width: 140px; object-fit: cover; pointer-events: none; user-select: none;">
			</a>
		</div>
	
		<div class="container">
			<label for="phone_number"><b>ورود | ثبت نام</b></label>

			<!-- phone number -->
			<input type="text" placeholder="شماره تلفن" id="phone_number" name="phone_number" minlength="11" maxlength="11" required>
			<p class="mb-4 text-danger display-invalid-phone invalid-phone" id="invalid-phone-text">شماره تلفن نامعتبر</p>
	
			<!-- otp code -->
			<div id="verification-container" style="display:none;">
				<input type="text" placeholder="کد تایید" id="verification_code" name="verification_code" minlength="5" maxlength="5" required pattern="\d{5}">
				<p class="mb-4 text-danger" id="invalid-code-text" style="display: none;">کد تایید نامعتبر</p>
			</div>
	

			<!-- phone number button -->
			<button type="button" id="send-code-btn">ارسال کد تایید</button>
			
			<!-- otp code button -->
			<button type="button" id="verify-code-btn" style="display:none;">تایید</button>
		</div>
	
	</form>
	
	

	
	<script>
		$(document).ready(function() {

			// main function
			function send() {
				if (checkPhoneNumberLength()) {
					sendVerificationCode();
				}
			}

			// تابع بررسی طول ورودی شماره تلفن
			function checkPhoneNumberLength() {
				var phoneNumber = $('#phone_number').val();
				var message = $('#invalid-phone-text').text();

				var phoneNumberPattern = /^09\d{9}$/;

				if (!phoneNumberPattern.test(phoneNumber) || phoneNumber.length !== 11) {
					$('#invalid-phone-text').removeClass('display-invalid-phone');
					return false;
				} else {
					$('#invalid-phone-text').addClass('display-invalid-phone');
					return true;
				}
			}

			$('#login-btn').click(function() {
				send();
			});

			$('#phone_number').on('keydown', function(event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					send();
				}
			});

			function sendVerificationCode() {
				var phoneNumber = $('#phone_number').val();
				var csrftoken = getCookie('csrftoken');

				$('#spinner').show();

				$.ajax({
					url: '{% url "account:login" %}',
					type: 'POST',
					data: {
						phone_number: phoneNumber,
					},
					headers: {
						'X-CSRFToken': csrftoken
					},
					success: function(response) {

					},
					error: function(xhr, status, error) {

					},
					complete: function() {
						$('#spinner').hide();
					}
				});
			}
		});


	</script>


	<script>
		// تابع برای دریافت توکن CSRF از cookie
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// دریافت توکن CSRF از cookie
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	</script>
	


</body>
</html>
