{% extends 'base.html' %}
{% load static %}



{% block content %}
    <form id="profile-form" class="custom-login-form flex-container">
        <div class="">
            <input type="text" value="{{ request.user.name }}" placeholder="نام شما" id="name" name="name" style="width: 170px;">
            <button class="mt-3 mr-3" type="button" id="update-name-btn">تغییر نام</button>
        </div>
    </form>

    <div class="flex-container">
        <a class="btn btn-outline-light py-2 px-4 mt-5 mr-3 animate__animated animate__fadeInUp custom-btn" href="{% url 'account:orders' %}">
            سفارشات شما
        </a>
    
    
        <a class="btn btn-outline-light py-2 px-4 mt-5 mr-3 animate__animated animate__fadeInUp custom-btn" href="{% url 'account:logout' %}">
            خروج از حساب کاربری
        </a>
    </div>


    <div id="success-message" class="success-message">
        با موفقیت آپدیت شد
    </div>
    
    
    <!-- spinner -->
    <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;"></div>



    <script>

        $(document).ready(function() {
            $('#update-name-btn').click(function() {
                updateName();
            });

            $('#name').on('keydown', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    updateName();
                }
            });
        });


        function updateName() {
            var newName = $('#name').val();
            var csrftoken = getCookie('csrftoken');

            $('#spinner').show();

            $.ajax({
                url: '{% url "account:profile" %}',
                type: 'POST',
                data: {'name': newName,},
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    $('#success-message').fadeIn();
                    setTimeout(function() {
                        $('#success-message').fadeOut();
                    }, 4000);
                },
                error: function(xhr, errmsg, err) {
                    
                },
                complete: function() {
                    $('#spinner').hide();
                }
            });
}



		// تابع برای دریافت توکن CSRF از cookie
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// دریافت توکن CSRF از cookie
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
    </script>
    
{% endblock content %}