{% extends 'base.html' %}
{% load static %}



{% block content %}

{% block head %}

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

	<style>

		#notfound {
		position: relative;
		height: 60vh;
		}

		#notfound .notfound {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		}

		.notfound {
		max-width: 520px;
		width: 100%;
		text-align: center;
		line-height: 1.4;
		}

		.notfound .notfound-404 {
		height: 190px;
		}

		.notfound .notfound-404 h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 146px;
		font-weight: 700;
		margin: 0px;
		color: #232323;
		}
		
		.notfound h2 {
		font-size: 30px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #232323;
		}

		.notfound p {
		color: #787878;
		font-weight: 300;
		}

		.notfound a {
		display: inline-block;
		padding: 12px 30px;
		font-weight: 700;
		background-color: #f99827;
		color: #fff;
		border-radius: 40px;
		text-decoration: none;
		-webkit-transition: 0.2s all;
		transition: 0.2s all;
		}

		.notfound a:hover {
		opacity: 0.8;
		}

		@media only screen and (max-width: 767px) {
		.notfound .notfound-404 {
			height: 115px;
		}
		.notfound .notfound-404 h1 {
			font-size: 86px;
		}
		.notfound .notfound-404 h1>span {
			width: 86px;
			height: 86px;
		}
		}
	</style>
{% endblock head %}

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span><span>0</span></span>4</h1>
			</div>
			<h2>صفحه یا محصول پیدا نشد</h2>
			<p>متاسفانه صفحه و یا محصولی که دنبال آن میگشتید پیدا نشد</p>
			<a href="{% url 'product:home' %}">بازگشت به سایت</a>
		</div>
	</div>
{% endblock content %}
